@import "var/color";
@import "var/size";

body{
    background-color: lighten($color: $dark, $amount: 7%) !important;
}

.wrapper-icons{
    position: relative;
    text-align: center;

    .wrapper-icon{
        display: inline-block;
        width: $size-normal;
        height: auto;
        margin: 15px 9px;
    
        &:hover{
            cursor: pointer;
        }
    
        @media screen and (max-width: $median){
            width: $size-small;
        }
    
        .wrapper-glyph{
            width: 100%;
            height: $size-normal;
            border-radius: 7px;
            text-align: center;
            line-height: $size-normal;
    
            &:hover{
                background: $dark;
    
                .wn{
                    color: rgb(80, 255, 232);
                }
            }
    
            .wn{
                font-size: $font-normal;
                vertical-align: middle;
                color: #eeeeee;
    
                @media screen and (max-width: $median){
                    font-size: $font-small;
                }
            }
    
            @media screen and (max-width: $median){
                height: $size-small;
                line-height: $size-small;
            }
        }
    
        .icon-name{
            width: 100%;
            color: #eeeeee;
            font-size: 14px;
            text-align: center;
            margin-top: 7px;
            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
    
            @media screen and (max-width: $median){
                font-size: 12px;
            }
        }
    }

    .finder-activator{
        position: fixed;
        bottom: 25px;
        right: 25px;
        width: 50px;
        height: 50px;
        border: 0;
        border-radius: 50%;
        z-index: 10;
        background: $bg;
        color: $light;
        border: 3px solid lighten($color: $bg, $amount: 15%);
    }
}

.wrapper-modal{
    .header-modal{
        h3{
            font-size: 18px;
            font-weight: bold;
            color: rgb(115, 138, 156);
        }

        p{
            font-size: 12px;
            color: rgb(179, 42, 0);
        }
    }

    .content-modal{
        padding: 25px 0;
        text-align: center;

        .wn{
            font-size: 120px;
            color: $dark;
        }
    }
}
