@import "var/color";
@import "var/size";

.wrapper-demo{
    width: 100%;
    max-width: 720px;
    margin: 57px auto;
    background: $dark;

    .header-demo{
        background: rgb(89, 101, 110);
        padding: 7px 17px;

        h1{
            font-size: 18px;
            line-height: 35px;
            margin-bottom: 25px;
            color: rgba(255, 179, 79, 0.7);
        }

        .wrapper-actions{
            select{
                background: transparent;
                color: $light;
                border: 2px solid $light;
                padding: 3px 7px;

                &:focus{
                    outline: none;
                }

                option{
                    background: initial;
                    color: initial;
                }
            }
            .wrapper-colors{
                padding: 15px 7px;

                .color{
                    width: 35px;
                    height: 35px;
                    border: 0;
                    border-radius: 50%;
                    margin-right: 15px;
    
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
    }

    .content-demo{
        text-align: center;
        padding: 60px 0;

        .wn{
            font-size: 120px;
        }
    }

    .footer-demo{
        text-align: center;
    }
}