.wrapper-page{
    max-width: 720px;
    padding: 67px 10px;
    text-align: center;

    h1{
        margin-bottom: 35px;

        .wn{
            color: rgb(139, 55, 90);
        }
    }

    p{
        font-size: 24px;
        line-height: 35px;
        padding-bottom: 70px;
    }
}