@import "var/color";
@import "var/size";

.footer{
    background-color: $bg;
    background-image: $bg-gradient;
    padding: 25px 9px;

    @media screen and (max-width: $small){
        display: block !important;

        .copyright{
            text-align: center;
            line-height: 45px;
        }
    }

    .footer-menu{
        list-style: none;

        li{
            line-height: 50px;
            color: $light;

            a{
                color: inherit;
                text-decoration: none;
            }
        }
    }

    .copyright{
        color: $light;
    }
}