@import "var/color";
@import "var/size";

.wrapper-page{
    max-width: $median;
    padding: 50px 27px;

    @media screen and (max-width: $small){
        padding: 40px 12px;
    }
    
    h1{
        font-size: 36px;
        color: rgb(146, 98, 130);
        margin-bottom: 35px;
    }

    h2{
        font-size: 24px;
        color: rgb(117, 74, 103);
        margin-bottom: 25px;
    }

    p{
        font-size: 18px;
        color: $dark;
        line-height: 35px;
        margin-bottom: 35px;
    }
}