$light: rgb(247, 247, 247);
$dark: rgb(30, 30, 30);
$bg: rgb(209, 52, 175);
$bg-gradient: linear-gradient(to top right, rgb(201, 84, 255), rgb(187, 67, 242), rgb(172, 50, 229), rgb(158, 34, 215), rgb(143, 17, 202), rgb(129, 0, 189), rgb(121, 14, 187), rgb(113, 28, 186), rgb(105, 42, 184), rgb(97, 56, 182), rgb(89, 70, 181), rgb(81, 84, 179));
$download: rgb(48, 97, 189);
$link: rgb(189, 48, 126);